html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.heading-margin{
    margin-top: 30px;
    margin-bottom: 30px;
}

.top-buffer {
    margin-top: 30px;
}

.card-body {
    
}

.btn {
    margin-top: auto;
}

.d-block.w-100 {
     width: 20%;
    height: 30vw;
    object-fit: cover;
    
}
.form-type{
    padding: 8px;
}

.titles {
    padding: 8px;
    margin: 8px;
    font-family: Sans-serif;
    text-align: center;
}

.card {
    padding: 8px;
    margin: 20px;
}


