@model CountViewModel
@using static Bakery.WebConstants

@{
    ViewData["Title"] = "Home Page";
}

@if (this.TempData.ContainsKey(ProductAdded))
{
    <div class="alert alert-success" id="alert" style="text-align: center;">@this.TempData[ProductAdded]</div>
}

<h1 class="titles">Welcome to my Bakery</h1>

<div class=container>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner border border-5 ">            
            <div class="carousel-item active img-fluid" data-bs-interval="10000">
                <img src="~/Images/one.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item img-fluid" data-bs-interval="2000">
                <img src="~/Images/two.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item img-fluid">
                <img src="~/Images/tree.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="text-center" style="margin-top: 15px;">
    <div class="col-md-4 offset-md-4">
        <p>We have:</p>
        <ul class="list-group">
            <li class="list-group-item bg-light">Products count: @Model.ProductCount</li>
            <li class="list-group-item bg-light">Ingredient count: @Model.IngredientCount</li>
        </ul>            
    </div>
</div>

<div class="conteiner">
    <h5 class="titles">Our New Recipes</h5>
    <h3 class="titles">Fresh from the Kitchen</h3>   
    <partial name="~/Views/_ProductPartial.cshtml" model="@Model.AllProductViewModel"></partial>
</div>

@*@section Scripts
{
    <script>
        $("#alert").delay(4000).slideUp(200, function() {
    $(this).alert('close');
    });
    </script>
}*@