@model ContactFormModel
@{
    ViewData["Title"] = "Contact Location";
}

@section Styles {
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/location.css" asp-append-version="true" />
}

<div class="row" id="contatti">
    <div class="container mt-5">

        <div class="row" style="height:550px;">
            <div class="col-md-6 maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase mt-3 font-weight-bold text-white">Contact AS</h2>
                <form method="Post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input asp-for="FirstName" class="form-control mt-2" placeholder="First name">
                                <span asp-validation-for="FirstName" class="small text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input asp-for="LastName" class="form-control mt-2" placeholder="Last name">
                                <span asp-validation-for="LastName" class="small text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input asp-for="Email" class="form-control mt-2" placeholder="Email">
                                <span asp-validation-for="Email" class="small text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input asp-for="Phone" class="form-control mt-2" placeholder="+359888112233">
                                <span asp-validation-for="Phone" class="small text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea asp-for="Massage" id="exampleFormControlTextarea1" placeholder="Write a message" rows="5"></textarea>
                                <span asp-validation-for="Massage" class="small text-danger"></span>
                            </div>                            
                        </div>
                        @*<div class="col-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                    <label class="form-check-label" for="invalidCheck2">
                                        Accetta le condizioni
                                    </label>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-12">
                            <button asp-controller="Contact" asp-action="Location" class="btn btn-light" type="submit">Send</button>
                        </div>
                    </div>
                </form>
                <div class="text-white">
                    <h2 class="text-uppercase mt-4 font-weight-bold"></h2>

                    <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+359) 123456</a><br>
                    <i class="fas fa-phone mt-3"></i> <a href="tel:+">(+359) 123456</a><br>
                    <i class="fa fa-envelope mt-3"></i> <a href="">info@test.it</a><br>
                    <i class="fas fa-globe mt-3"></i> My Bakery Place, 1, 1 Bulgaria<br>
                    <i class="fas fa-globe mt-3"></i> My Bakery Place, 1, 1 Bulgaria<br>
                    <div class="my-4">
                        <a href=""><i class="fab fa-facebook fa-3x pr-4"></i></a>
                        <a href=""><i class="fab fa-linkedin fa-3x"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@*<div class="row text-center bg-success text-white" id="author">
    <div class="col-12 mt-4 h3 ">
        <a href="#">by P. Fattoruso</a>
    </div>
    <div class="col-12 my-2">
        <a href="https://www.linkedin.com/in/paolofattoruso/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
    </div>*@
</div>

@section Scripts{
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}