@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IAuthorService authorService
@using static Bakery.Infrastructure.ClaimsPrincipalExtensions

@{
    var userId = User.GetId();
}

@if (SignInManager.IsSignedIn(User))
{
    @if (authorService.IsAuthor(userId) || User.IsAdmin())
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Bakery" asp-action="Add">Add</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Job" asp-controller="Employee" asp-action="Approve">Job Apply</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Task" asp-controller="Organizer" asp-action="Request">Administration</a>
        </li>
    }
}