@model EmployeeInfoViewModel

@{
    ViewData["Title"] = "Info Employee Buy";
}

<link rel="stylesheet" href="~/css/info.css" asp-append-version="true" />

<div class="container bootstrap snippets bootdey">
    <div class="profile card">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md-5 text-center">
                        <img class="img-thumbnail md-margin-bottom-10" src="@Model.Image" alt="">
                    </div>
                    <div class="col-md-7">
                        <h2>@Model.Name @Model.Age</h2>
                        <span><strong>Job Place:</strong> My Bakery </span>
                        <span><strong>Position:</strong> Baker </span>
                        <hr>
                        <span></span>
                        <hr>
                        <p>@Model.Description</p>                        
                    </div>
                </div>    
            </div>
    	</div>
    </div>
</div>                                                   