@model ProductDetailsServiceModel

@{
    ViewData["Title"] = "Edit Bake";
}
<div class="container px-10">
    <div class="row top-buffer">
        <div class="col-sm-12 col-lg-3 col-lg-8 offset-xl-3 col-xl-6 col">
            <h2 class="heading text-center">Edit bake product</h2>
            <form method="post">
                <div class="form-type">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Baking name">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-type">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" placeholder="Price of product in BGN">
                    <span asp-validation-for="Price" class="small text-danger"></span>
                </div>
                <div class="form-type">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control" placeholder="Place image of the product here">
                    <span asp-validation-for="ImageUrl" class="small text-danger"></span>
                </div>
                 <div class="form-type">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" class="form-control">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>          
                <div class="form-type">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="3" class="form-control" placeholder="Deliciously baked bread etc..."></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                @*<div id ="IngredientType">   
                     <label asp-for="Ingredients"></label>
                     @foreach (var ingredient in Model.Ingredients)
                     {
                         <label asp-for="Ingredient.Name"></label>
                         <input asp-for="ingredient" class="form-control" placeholder="">
                     }
                </div>*@
                <button type="submit" class="btn btn-primary mt-4">Save Product</button>
            </form>
        </div>
    </div>
</div>