@model ApplyFormModel

@section Styles{
    <link href="~/css/applayForJob.css" rel="stylesheet">
}

@{
    ViewData["Title"] = "Apply Author";
}

<div class="container applay-forjob">
    <div class="row mx-0 justify-content-center">
        <div class="col-md-7 col-lg-5 px-lg-2 col-xl-4 px-xl-0 px-xxl-3">
            <form method="Post" class="w-100 rounded-1 p-4 border bg-white" enctype="multipart/form-data">
                <label asp-for="FullName" class="d-block mb-4">
                    <span  class="form-label d-block">Your name</span>
                    <input asp-for="FullName" class="form-control " placeholder="Vqra Bakery" />
                    <span asp-validation-for="FullName" class="small text-danger"></span>
                </label>

                <label asp-for="Age" class="d-block mb-4">
                    <span  class="form-label d-block">Age</span>
                    <input asp-for="Age" class="form-control " placeholder="Vqra Bakery" />
                    <span asp-validation-for="Age" class="small text-danger"></span>
                </label>

                <label asp-for="Email" class="d-block mb-4">
                    <span class="form-label d-block">Email address</span>
                    <input asp-for="Email" required class="form-control" placeholder="vqra@example.com" />
                    <span asp-validation-for="Email" class="small text-danger"></span>
                </label>

                <label asp-for="Phone" class="d-block mb-4">
                    <span class="form-label d-block">Phone number</span>
                    <input asp-for="Phone" required class="form-control" placeholder="+359888112233" />
                    <span asp-validation-for="Phone" class="small text-danger"></span>
                </label>

                <label asp-for="Experience" class="d-block mb-4">
                    <span class="form-label d-block">Years of experience</span>
                    <select asp-for="Experience" class="form-select">
                        <option>Less than a year</option>
                        <option>1 - 2 years</option>
                        <option>2 - 4 years</option>
                        <option>4 - 7 years</option>
                        <option>7 - 10 years</option>
                        <option>10+ years</option>
                    </select>
                    <span asp-validation-for="Experience" class="small text-danger"></span>
                </label>

                <label asp-for="Description" class="d-block mb-4">
                    <span class="form-label d-block">Tell us more about yourself</span>
                    <textarea asp-for="Description" class="form-control" rows="3" placeholder="What motivates you?"></textarea>
                    <span asp-validation-for="Description" class="small text-danger"></span>
                </label>

                <label class="d-block mb-4">
                    <span class="form-label d-block">Your CV</span>
                    <input required name="cv" type="file" class="form-control" />                    
                </label>

                <label class="d-block mb-4">
                    <span class="form-label d-block">Your Image</span>
                    <input required name="Image" type="file" class="form-control" />                    
                </label>

                @* <div class="mb-4">
                    <div>
                    <div class="form-check">
                    <label class="d-block">
                    <input
                    type="radio"
                    class="form-check-input"
                    name="remote"
                    value="yes"
                    checked
                    />
                    <span class="form-check-label"
                    >You'd like to work remotely</span
                    >
                    </label>
                    </div>
                    </div>
                    <div>
                    <label class="form-check">
                    <input
                    type="radio"
                    class="form-check-input"
                    name="remote"
                    value="no"
                    />
                    <span class="form-check-label">You'd prefer to work onsite</span>
                    </label>
                    </div>
                    </div>*@

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary px-3 rounded-3"> Apply </button>
                </div>

                <div class="d-block text-end">
                    <div class="small">
                        by
                        <a href="#" class="text-dark text-decoration-none" target="_blank">My Bakery Place</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<script>
    <partial name="_ValidationScriptsPartial" />
</script>
}